
    <nav
      class="navbar navbar-expand-lg navbar-light"
      style="
        background-color: transparent;
        position: fixed;
        z-index: 2;
        width: 100%;
      "
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">T Summit 2022</a>
      </div>
    </nav>
    {{!-- <div class="container-fluid p-md-5 p-4">
      {{#if flag==1}}

  <div class="alert alert-success" role="alert">
        <h4 class="alert-heading"></h4>
        <p></p>
        <p class="mb-0"></p>
      </div>
      {{else}}


      {{/if}} --}}
    
      <div class="container-fluid p-md-4 p-5 header-section">
        <div class="img-container mx-auto">
          <div class="img-wrapper row mx-auto">
            <div class="img1 col-md-4 mx-auto col-5">
              <figure class="imghvr-zoom-out-flip-vert">
                <img
                  src="https://iste-tkmce.github.io/TOOLS/athena_blue.png"
                  class=""
                  alt="example-image"
                />
                <figcaption class="">
                 
                  <a class="ih-fade-up ih-delay-lg align-middle d-flex align-items-center justify-content-center" href="#"
                    >Read More</a>
                </figcaption>
                <a href="#"></a>
              </figure>
            </div>
            <div class="img2 col-md-4 col-5">
               <figure class="imghvr-zoom-out-flip-vert">
                <img
                  src="https://iste-tkmce.github.io/TOOLS/athena_blue.png"
                  class=""
                  alt="example-image"
                />
                <figcaption class="">
                 
                  <a class="ih-fade-up ih-delay-lg text-center d-flex justify-content-center align-items-center" href="#"
                    >Read More</a>
                </figcaption>
                <a href="#"></a>
              </figure>
            </div>
          </div>

          <div class="tagline text-center mx-auto mt-4">
            <h4>Welcome to T Summit</h4>
          </div>

          <div class="btn-wrapper text-center mx-auto mt-4">
            <button class="btn mx-auto">Let's meet</button>
          </div>
        </div>
      </div>

      <section class="section1">
        <form method="post" action="/summitform">
        

          <div class="row mx-auto">
            <div class="col-md-6 mx-auto">
              <div class="card">
                <div class="form-outline mb-4">
                  <label class="form-label text-capitalize" for="college"
                    >college</label
                  >
                  <input
                    value="mealone"
                    required
                    type="text"
                    id="college"
                    name="college"
                    class="form-control form-control-lg"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-6 mx-auto">
              <div class="card">
                <div class="form-outline mb-4">
                  <label class="form-label text-capitalize" for="location"
                    >location</label
                  >
                  <input
                    value="mealone"
                    required
                    type="text"
                    id="location"
                    name="location"
                    class="form-control form-control-lg"
                  />
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="section-breaker"></div> -->

         
          <div class="row mx-auto">
            <div class="col-md-6 mx-auto">
              <div class="card pt-5 card-1">
                <div class="form-outline mb-4">
                  <label
                    class="form-label text-capitalize"
                    for="delegateonename"
                    >Name</label
                  >
                  <input
                    value="mealone"
                    required
                    type="text"
                    id="delegateonename"
                    name="delegateonename"
                    class="form-control form-control-lg"
                  />
                </div>

                <div class="form-outline mb-4">
                  <label
                    class="form-label text-capitalize"
                    for="delegateonemail"
                    >Email</label
                  >
                  <input
                    value="mealone"
                    required
                    type="email"
                    id="delegateonemail"
                    name="delegateonemail"
                    class="form-control form-control-lg"
                  />
                </div>

                <div class="form-outline mb-4">
                  <label
                    class="form-label text-capitalize"
                    for="delegateonephno"
                    >Mobile</label
                  >
                  <input
                    value="mealone"
                    required
                    type="text"
                    id="delegateonephno"
                    name="delegateonephno"
                    class="form-control form-control-lg"
                  />
                </div>
              </div>
            </div>

            <div class="col-md-6 mx-auto">
              <div class="card pt-5 card-2">
                <div class="form-outline mb-4">
                  <label
                    class="form-label text-capitalize"
                    for="delegatetwoname"
                    >Name</label
                  >
                  <input
                    value="mealone"
                    required
                    type="text"
                    id="delegatetwoname"
                    name="delegatetwoname"
                    class="form-control form-control-lg"
                  />
                </div>

                <div class="form-outline mb-4">
                  <label
                    class="form-label text-capitalize"
                    for="delegatetwomail"
                    >Email</label
                  >
                  <input
                    value="mealone"
                    required
                    type="email"
                    id="delegatetwomail"
                    name="delegatetwomail"
                    class="form-control form-control-lg"
                  />
                </div>

                <div class="form-outline mb-4">
                  <label
                    class="form-label text-capitalize"
                    for="delegatetwophno"
                    >Mobile</label
                  >
                  <input
                    value="mealone"
                    required
                    type="text"
                    id="delegatetwophno"
                    name="delegatetwophno"
                    class="form-control form-control-lg"
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row mx-auto">
            <div class="col-md-6 mx-auto">
              <div class="card pt-5 card-3">
                <div class="form-outline mb-4">
                  <label
                    class="form-label text-capitalize"
                    for="delegatethreename"
                    >Name</label
                  >
                  <input
                    value="mealone"
                    required
                    type="text"
                    id="delegatethreename"
                    name="delegatethreename"
                    class="form-control form-control-lg"
                  />
                </div>

                <div class="form-outline mb-4">
                  <label
                    class="form-label text-capitalize"
                    for="delegatethreemail"
                    >Email</label
                  >
                  <input
                    value="mealone"
                    required
                    type="email"
                    id="delegatethreemail"
                    name="delegatethreemail"
                    class="form-control form-control-lg"
                  />
                </div>

                <div class="form-outline mb-4">
                  <label
                    class="form-label text-capitalize"
                    for="delegatethreephno"
                    >Mobile</label
                  >
                  <input
                    value="mealone"
                    required
                    type="text"
                    id="delegatethreephno"
                    name="delegatethreephno"
                    class="form-control form-control-lg"
                  />
                </div>
              </div>
            </div>

            <div class="col-md-6 mx-auto">
              <div class="card card-4 pt-5">
                <div class="form-outline mb-4">
                  <label
                    class="form-label text-capitalize"
                    for="delegatefourname"
                    >Name</label
                  >
                  <input
                    value="mealone"
                    required
                    type="text"
                    id="delegatefourname"
                    name="delegatefourname"
                    class="form-control form-control-lg"
                  />
                </div>

                <div class="form-outline mb-4">
                  <label
                    class="form-label text-capitalize"
                    for="delegatefourmail"
                    >Email</label
                  >
                  <input
                    value="mealone"
                    required
                    type="email"
                    id="delegatefourmail"
                    name="delegatefourmail"
                    class="form-control form-control-lg"
                  />
                </div>

                <div class="form-outline mb-4">
                  <label
                    class="form-label text-capitalize"
                    for="delegatefourphno"
                    >Mobile</label
                  >
                  <input
                    value="mealone"
                    required
                    type="text"
                    id="delegatefourphno"
                    name="delegatefourphno"
                    class="form-control form-control-lg"
                  />
                </div>
              </div>
            </div>
          </div>

       <div class="row mx-auto why">
      <div class="col">
        <div class="card">
            <div class="form-outline mb-4">
                <label class="form-label text-capitalize" for="whysummit"
                  >What Agendas would your chapter like the Summit to discuss on
                </label>
                <textarea
                  required
                  type="text"
                  id="whysummit"
                  name="whysummit"
                  class="form-control form-control-lg mt-3"
                  placeholder="For instance, Strengthening ISTE inter-chapter relations and working towards developing a skilled student community."
                ></textarea>
              </div>
        </div>
      </div>
       </div>

          <div class="pt-1 mb-4 d-flex justify-content-end">
            <button class="btn" type="submit">Submit</button>
          </div>
        </form>
      </section>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>

    <script>

  var flag=0;
  const college=document.getElementById("college").value,
   location=document.getElementById("location").value,
   d1Name=document.getElementById("delegateonename").value,
   d1Email=document.getElementById("delegateonemail").value,
   d1phno=document.getElementById("delegateonephno").value,
   d2Name=document.getElementById("delegatetwoname").value,
   d2Email=document.getElementById("delegatetwomail").value,
   d2phno=document.getElementById("delegatetwophno").value, 
   d3Name=document.getElementById("delegatethreename").value,
   d3Email=document.getElementById("delegatethreemail").value,
   d3phno=document.getElementById("delegatethreephno").value,
   d4Name=document.getElementById("delegatefourname").value,
   d4Email=document.getElementById("delegatefourmail").value,
   d4phno=document.getElementById("delegatefourphno").value,
   console.log(d4phno);
   input=document.querySelectorAll("input").value;
   console.log(input);
   input.forEach(e=>{
    e.addEventListener('mouseenter',function(){
      console.log("mousendown is working")
  (d1phno==d2phno || d2phno==d3phno || d1phno==d2phno)?flag=1:flag=0;
  (d1Email==d2Email || d2Email==d3Email || d1Email==d2Email)?flag=1:flag=0;
  flag==1?alert("enter different mailid or phone number or name");
    })
   })

  

    </script>
  </body>
</html>
