<div class="container-fluid p-md-5 p-4 d-flex justify-content-center align-items-center" style="height:100vh;">

<h2 class="text-capitalize text-justify" style="color:#1FA2FF;border:1px solid #1fa2ff; padding:20px;border-radius:10px;" >you have successfully registered for T summit</h2>

</div>